/*
     CSS Stylesheet for Milestone Application
     Gabrielle Hooper
     07/05/23
*/



/*Every Page - Navigation Bar */
.sidenav {
    height: 100%; /* Full Height */
    width: 200px; /* 200px Width */
    list-style-type: none; /* No bullets */
    margin: 0;
    padding: 0;
    top: 0; /* Against top of page */
    left: 0; /* Against far left of page */
    padding-top: 20px; /* Extra space between words on top */
    z-index: 1;
    position: fixed; /* Bar does not move with page */
    overflow: auto;
    background-color: #000000;
}

.sidenav a, .dropdown-btn {
    display: block;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    background: none;
    color: white;
    font-size: 20px;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Link color on hover */
.sidenav a:hover, .dropdown-btn:hover {
    background-color: #ffc629;
    color: black;
}

/* Button color while active */
.active {
    background-color: #ffc629;
    color: black;
}

/* Style the dropdown container */
.dropdown-container {
    display: none;
    background-color:#000000;
    padding-right: 8px;
}

.dropdown-container: a {
    font-size: 12px;
}

/* Style the Caret */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*End Navigation Bar */


/* Every page - Content / Body */
.content {
    margin-left: 200px;
    padding-left: 30px;
    padding-bottom: 50px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}
/* End Content / Body */


/* Book Search */
#search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#searchbox {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

#searchbutton {
    height: 40px;
    padding: 0 20px;
    margin-left: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#searchcontainer {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.container {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 200px;
}

#Search-title {
    margin-top: 200px;
}

#header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin:auto;
    text-align: center;
    margin-top: 50px;
}
/* End Book Search */

/* Page Selection */
.pagination {
    display: inline-block;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ffc629;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
/* End Page Selection */


/* Every Page - Footer */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 200px;
    left: 0;
    bottom: 0;     
    width: 100%;
    height: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* End Footer */
